APP_ENV=dev
APP_SECRET=

DATABASE_URL=mysql://mysql:mysql@db:3306/bot

TELEGRAM_BOT_API_KEY=
TELEGRAM_BOT_USERNAME=
TELEGRAM_WEBHOOK_URL=

MESSENGER_TRANSPORT_DSN=

ADMIN_CHAT_USERNAMES='[]'

LOGGING_INPUT=false
###> google/apiclient ###
GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_AUTH_CONFIG=%kernel.project_dir%/path/to/file.json
###< google/apiclient ###

SPREADSHEET_ID=
SPREADSHEET_RANGE=

RATINGS_SPREADSHEET_ID=
RATINGS_SPREADSHEET_RANGE=

USER_BAN_SPREADSHEET_ID=
USER_BAN_SPREADSHEET_RANGE=

USER_WARNING_SPREADSHEET_ID=
USER_WARNING_SPREADSHEET_RANGE=

CANCELED_CLUBS_SPREADSHEET_ID=
CANCELED_CLUBS_SPREADSHEET_RANGE=

